/*
 *= require_self
 *= require_tree
 
 *= require bootstrap-datetimepicker
*/

#m_footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}

.container { 
background-color:#FFFFF0;
min-height: 650px;
height: auto;
}